button:not(.resetButton) {
  height: 5rem;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
}

.resetButton {
  padding: 0.5rem;
  margin-left: 2rem;
}
